<!-- gcode_ripper_tab.jinja2 -->

    <div id="gcode_ripper_plugin_collapse" class="row-fluid">
            <div class="row" style="padding-left: 10px;">
                <div class="span4">
                    <label for="diameter_input">Starting Diameter:</label>
                    <input id="diameter_input" type="number" step="any" class="span4" data-bind="value: diameter" onchange="updateDiameter()">
                
                </div>
                <div class="span4">
                    <label for="rotation_angle_input">Rotation Angle:</label>
                    <input id="rotation_angle_input" type="number" step="any" class="span4" data-bind="value: rotationAngle">
                </div>
                <div class="span4">
                    <label for="scale_factor_input">Scale Factor:</label>
                    <input id="scale_factor_input" type="number" value="1" step="any" class="span4" data-bind="value: scaleFactor">
                </div>
            </div>
            <div class="row" style="padding-left: 10px; padding-bottom: 10px;">
                <div class="span12">
                    <label for="gcode_file_select">Select GCode File:</label>
                    <select id="gcode_file_select" class="span12" data-bind="options: gcodeFiles, optionsText: 'name', value: selectedGCodeFile"></select>
                    <img src="/plugin/gcode_ripper/static/img/pewa-rotation.png" width="100%">
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="span12" style="padding-left: 10px;">
                    <button id="write_gcode_button" class="btn btn-primary" data-bind="click: writeGCode">Write Gcode</button>
                </div>
            </div>
    </div>
